@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Varela+Round&display=swap");

// If need, change your variables before importing Bulma

@import "~bulmaswatch/litera/_variables.scss";
$family-sans-serif: "Karla", sans-serif;
@import "~bulma/bulma.sass";
@import "~bulmaswatch/litera/_overrides.scss";
body,
.content {
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

.navbar-dropdown a.navbar-item {
  font-size: 16px;
}
.title {
  text-transform: uppercase;
}
.contain {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  height: 600px;
  width: 300px;
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  min-height: 600px;
  margin: 0 auto;
  width: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.iframe-container-cal {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  min-height: 600px;
  width: 400px;
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container-cal iframe {
  border: 0;
  height: 700px;
  margin: 0 auto;
  width: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

h1 {
  text-transform: uppercase;
}
button a {
  color: white;
}

img.rounded {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.mediaBox {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.footerBox {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
